<div class="container">
    <p class="copyright pull-left">
      <a href="/#/auth/policies/dk" target="_blank" class="magr20 text-primary">
        <b>Điều khoản</b>
      </a> |
      <b>
        <a href="https://www.messenger.com/t/1554196684870255" class="magr20 text-primary">
          Liên hệ
        </a>
      </b> |
      <b>
        <a href="/#/auth/policies/bm" class="magr20 text-primary">
          Chính sách bảo mật
        </a>
      </b>
      <br>
    </p>
  </div>
  
  <!-- Uncomment the following section if needed -->
  <!-- 
  <div class="socials">
    <a href="https://www.facebook.com/gomluakiemtien/" target="_blank" class="ion ion-social-facebook"></a>
    <a href="#" target="_blank" class="ion ion-social-twitter"></a>
    <a href="#" target="_blank" class="ion ion-social-linkedin"></a>
  </div>
  <div id="fb-root"></div>
  <div class="fb-customerchat"
       attribution="setup_tool"
       page_id="1554196684870255"
       theme_color="#ffb300"
       logged_in_greeting="Xin chào! Gomlua có thể giúp gì bạn?"
       logged_out_greeting="Xin chào! Gomlua có thể giúp gì bạn?">
  </div> 
  -->